body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
text-decoration: none;
}

.main-header {
  background-color: #fff;
}

.white-background {
  max-width: 1200px;
  margin: 0px auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
position: absolute;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}

.clear {
  clear: both;
}

.button {
font: inherit;
text-align: center;
color: #fff;
vertical-align: middle;
text-transform: uppercase;
background-color: #766357;
border: none;
font-weight: bold;
}

.button:hover {
background-color: #604e43;
cursor: pointer;
}

.button:focus,
.button:active {
  background-color: #503e33;
  color: #857871;
  outline: none;
}

.button-blue {
background-color: #81b3d2;
}

.button-blue:hover {
background-color: #669ec0;
}

.button-blue:focus,
.button-blue:active {
background-color: #5496bd;
color: #7aadcb;
}

.button-transparent {
  font-weight: normal;
  background-color: transparent;
  color: #fff;
  border: solid 2px #ffffff;
}

  .button-transparent:hover,
  .button-transparent:focus,
  .button-transparent:active {
    background-color: #fff;
    color: #000;
  }

.button-big {
font-size: 21px;
line-height: 26px;
}

/*навигаия по сайту*/
.main-navigation {
font-size: inherit;
line-height: 26px;
background-color: #fff;
}

.main-navigation ul {
list-style: none;
}
.main-navigation a {
color: #000;
}

.main-navigation a:hover {
color: #81b3d2;
}

.main-navigation a:focus {
  color: #b2b2b2;
  outline: none;
}

/*блок шапка-заголовок*/
.greeting-header {
background-color: #81b3d3;
background-image: url("../img/background.jpg");
background-position: top center;
background-repeat: no-repeat;
max-width: 1200px;
height: 515px;
background-size: cover;
}

/*преимущества*/
.advantages h2 {
text-align: center;
font-size: inherit;
line-height: 26px;
font-weight: normal;
}

.advantages__text {
text-align: center;
font-size: 21px;
line-height: 26px;
}

.advantages-block {
  line-height: 21px;
  text-align: center;
  color: #fff;
  font-family: inherit;
}

.advantages-block__about {
  float: left;
}

.advantages-block__big-img {
  float: left;
}

.blue-back {
  max-width: 400px;
  width: 100%;
  background-color: #81b3d2;
  color: #fff;
}

.grey-back {
  max-width: 400px;
  width: 100%;
  background-color: #eee;
  color: #000;
}

.white-back {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  color: #000;
}

  .advantages-block h3 {
    font-size: 21px;
  }

.advantages-block p {
  font-size: 14px;
  font-weight: normal;
}

/*поиск гостиницы*/
.hotel-search {
background-color: #fff;
}

.hotel-search__subtitle {
font-size: 30px;
line-height: 36px;
text-align: center;
}

.hotel-search__text {
font-size: inherit;
line-height: inherit;
text-align: center;
font-weight: normal;
}

.hotel-search__form {
background-color: #fff;
}

.hotel-search__form input {
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
}

  .hotel-search__form input:hover {
    background-color: #ebebeb;
    border: solid 2px #ebebeb;
  }

  .hotel-search__form input:focus,
  .hotel-search__form input:active {
    background-color: #fff;
    border: solid 2px #e5e5e5;
    outline: none;
  }


/*footer*/
.main-footer {
background-color: rgba(255,255,255,0.9);
}

.footer__block-phone {
font-size: 21px;
line-height: 26px;
}

.footer__phone a {
color: #000;
}

.footer__phone a:hover {
  color: #81b3d2;
}

.footer__phone a:focus,
.footer__phone a:active {
  color: #bdbbbc;
  outline: none;
}

.social li {
width: 47px;
height: 47px;
background: #81b3d2;
display: inline-block;
vertical-align: bottom;
}

.social li a {
  display: block;
  text-align: center;
  height: 100%;
}

.social li img {
max-width: 18px;
margin: 0 auto;
display: block;
padding-top: 15px;
}

.social li:hover {
  background-color: #669ec0;
}

.social li:focus,
.social li:active {
  background-color: #5496bd;
  outline: none;
}

.social li:focus img,
.social li:active img{
  opacity: 0.3;
}

.social .twitter img {
padding-top: 17px;
}

.social .fb img {
padding-top: 13px;
max-width: 10px;
}

.social .youtube img {
max-width: 19px;
padding-top: 17px;
}

.make {
font-size: inherit;
line-height: 26px;
text-align: center;
}

.make a {
vertical-align: middle;
}

.make a:hover svg {
  fill: #81b3d2;
}

.make a:focus svg,
.make a:active svg {
  fill: #bdbbbc;
}

.make svg path,
.make svg rect{
  fill: inherit;
}

/*--------------------------------------*/
/*Каталог*/
.filter {
  background-color: #709cc3;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  color: #fff;
}

.filter__title {
  font-size: 16px;
  line-height: 21px;
}

.filter__price {
  border: solid 2px #ffffff;
  font-weight: normal;
}

  .filter__price td:first-child {
    border-right: solid 2px #ffffff;
  }

.filter input[type="checkbox"] {
  display: none;
}

.filter label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  cursor: default;
  padding: 10px 0;
  vertical-align: middle;
}

  .filter label:before {
    content: "";
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    vertical-align: middle;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
  }

.filter input:checked + label:before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter input:disabled + label:before {
  background-image: url(../img/checkbox-off-disable.svg);
  background-repeat: no-repeat;
}

.filter input:disabled:checked + label:before {
  background-image: url(../img/checkbox-on-disable.svg);
  background-repeat: no-repeat;
}

.sorting__found {
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.sorting__title {
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-weight: normal;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px dashed #81b3d2;
}

  .sorting a:last-child,
  .sorting a:nth-last-child(2) {
    border-bottom: none;
  }

  .sorting a:active {
    color: #81b3d2;
    border: none;
  }

  .sorting a:hover {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
  }

  .sorting a:last-child:hover,
  .sorting a:nth-last-child(2):hover {
    border-bottom: none;
    color: #000;
  }

  .sorting a:last-child:focus,
  .sorting a:nth-last-child(2):focus,
  .sorting a:last-child:active,
  .sorting a:nth-last-child(2):active {
    border-bottom: none;
    color: #81b3d2;
  }

  .sorting a:focus {
    color: #000;
    border: none;
  }

.hotel-list li {
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

  .hotel-list li:first-child {
    border-top: 1px solid #e5e5e5;
  }

.hotel-list__title {
  font-size: 16px;
  line-height: 21px;
  color: #000;
}

.hotel-list__title:hover {
  color: #81b3d2;
}

  .hotel-list__title:focus,
  .hotel-list__title:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
  }

.hotel-list__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-list__rating {
  color: #666;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  background-color: #f2f2f2;
  max-width: 110px;
}
