.social li {
  width: 47px;
  height: 47px;
  background: #81b3d2;
  display: inline-block;
  vertical-align: bottom;
}

  .social li a {
    max-width: 18px;
    margin: 0 auto;
    display: block;
    padding-top: 15px;
  }
