.social li {
  width: 47px;
  height: 47px;
  background: #81b3d2;
  display: inline-block;
  vertical-align: bottom;
}

.social li a {
  max-width: 18px;
  margin: 0 auto;
  display: block;
  padding-top: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
